[alias]
	adog = log --all --decorate --oneline --graph
[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	verbose = true
[core]
	editor = nvim
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = master
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[tag]
	sort = version:refname
[user]
	email = mail@mhsn.net
	name = mhsn
